= form_tag request.path, method: 'get', class: 'form-inline' do
  .form-group
    = content_tag :label do
      = t('start_date')
      = text_field_tag :start_date, params[:start_date], class: 'form-control'
  .form-group
    = content_tag :label do
      = t('end_date')
      = text_field_tag :end_date, params[:end_date], class: 'form-control'
  = submit_tag t('search'), class: 'btn btn-success'
table.table.table-striped
  thead
    tr
      th
      th
      th colspan="3"
  tbody
    - @events.each do |event|
      tr
        td= l(event.started_at, format: :short)
        td= event.title
        td
          ul.list-inline.list-unstyled
            li
              = link_to fa_icon('eye'), event_path(event)
            li
              = link_to fa_icon('pencil'), edit_event_path(event)
            li
              = link_to fa_icon('trash'), event_path(event), method: :delete, data: { confirm: t('confirm') }
.apple_pagination
  = will_paginate @events
